<h1>Add a Project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">Project Title</label>
    <input name="project_title" class="form-control" type="text">
    
  </div>
  <button type="submit" class="btn">Submit</button>
</form>