<h1>Volunteer Tracker</h1>
<h2>Projects</h2>

<a href="/projects/new">Add a new project</a>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= projects.title %></li></a> 
    <% end %>
  </ul>
<% else %>
  <p>There are curently no project to display.</p>
<% end %>